:root {
    font-family: sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    background-image: url("https://images.unsplash.com/photo-1562563436-a73bab993173?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-space {
    padding: 2em;
    color: black;
    font-size: larger;
}

.centered {
    background: rgb(221, 214, 214);
    border-radius: 10px;
    display: flex;
    width: 100%;
    max-width: 350px;
    margin: 15px auto 20px auto;
    padding: 1.5em 3em 3em 3em;
    align-items: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px #ffffff;
}

.centered h1 {
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 1.85rem;
}

.footnote {
    color: rgb(75, 75, 75);
    padding: 1em 0 1em 0;
    font-size: 0.75rem;
}

.google-button {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 30px 30px;
    background-color: rgb(17, 17, 17);
    color: white;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.google-button:hover {
    box-shadow: 0px 2px 3px 2px rgb(180, 180, 180);
    background-color: rgb(10, 10, 10);
}