@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
    background-color: #000000;
}

Box{
  background-image: url("../assets/banner_img.png");
}

/* LandingPage styles */
.landing-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.header {
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #777;
}

.hero-section {
    text-align: center;
    padding: 80px 0;
    background-color: #f0f0f0;
}
.animate__animated{
  position: relative;
  top:5rem;
}
.hero-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 40px;
}

.panoLogo{
    height: 8rem;
    width: auto;
    position: relative;
    left: 2%;
    top:1% !important;
}


.features-section {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.feature {
    width: 30%;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.feature p {
    font-size: 18px;
    color: #777;
}

.footer {
  position: relative;
    text-align: center;
    top:10rem;
    padding: 0px 0;
    background-color: #333;
    color: #5c5a5a;
}

.skill {
    margin-top: 200px;
    padding: -20px 0 -500px 0;
    position: relative;
}

.skill-bx {
    display: grid;
    position: relative;
    background: #000000ad;
    text-align: center;
  padding-top: 2rem;
    top: 3rem;
}

.skill span {
    color: white;
    margin: 10px;

}

.skill h2 {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.skill p {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.9px;
    line-height: 2em;
    margin: 10px 0 13px 0;

}

.heading {
    color: white;
    /* text-align: center; */
    margin-left: 8rem;
    font-size: 5rem;
    position: relative;
    display: flex;
    top:4rem;
    /* make our h1 tag larger */
    font-family: sans-serif;
    /* choosing our font */
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
    /* you can change the colors based on your preference */
    background-clip: text;
    /*it defines how far the background should extend within an element, here we set it to text */
    -webkit-background-clip: text;
    /*for browsers compatibility */
    -webkit-text-fill-color: transparent;
    /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.4s ease;
}




.banner h1 {
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: white;


}



.banner p {
    color: #f8f7f8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

/* .banner button {

    color: #000000;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.banner button a {
    text-decoration: none;
}

.banner button svg {

    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner button:hover svg {
    margin-left: 25px;
} */

/* button */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 11rem;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  @media only screen and (max-width: 600px) {
    .panoLogo{
        height: 5rem;
    }
    .heading{
        font-size: 3rem;
        text-align: center;
        margin-top: 0%;
        margin-left: 0%;
        position: relative;
    }
    .btn{
        position: relative;
        width: 90%;
        display: flex;
        left:5%;
    }

    .css-1oqqzyl-MuiContainer-root{
        padding: 0rem 2rem !important;
        margin-top: 7rem;
    }
    
    .skill-bx{
      border-top: 1px solid white;
      /* margin-top: %; */
      top:4rem;

      border-radius: 0.3rem;
    }
    
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }


@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.txt-rotate>.wrap {
    border-right: 0.08em solid #666;
}

a{
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}