:root {
    --color-primary: #19c37d;
    --color-secondary: #715fde;
    --color-error: #ef4146;
    --gradient-primary: linear-gradient(90deg, #a29bd4, #989fdd);
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: var(--color-error);
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(69, 89, 164, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    --tw-shadow: 0 0 transparent;
    --tw-shadow-colored: 0 0 transparent;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

.coverDiv {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    color-scheme: light;
    line-height: inherit;
    color: #000;
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coverDiv .flexRow {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    color-scheme: light;
    line-height: inherit;
    color: #000;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    text-align: center;
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
}

.flexRow .bold {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    color-scheme: light;
    color: #000;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    text-align: center;
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: 0 20px 0 0;
    padding-right: 23px;
    font-size: 24px;
    font-weight: 500;
    vertical-align: top;
    line-height: 49px;
}

.flexRow .message {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    color-scheme: light;
    line-height: inherit;
    color: #000;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
}

.flexRow .message h2 {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    color-scheme: light;
    color: #000;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    text-align: left;
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 49px;
    margin: 0;
}

.coverDiv .message .link {
    padding: 0px 2px 0px 2px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}